<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>wanjuanwu</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>SearchBookServlet</display-name>
		<servlet-name>SearchBookServlet</servlet-name>
		<servlet-class>cc.geekie.wanjuanwu.controller.SearchBookServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchBookServlet</servlet-name>
		<url-pattern>/SearchBookServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>BookDetailServlet</display-name>
		<servlet-name>BookDetailServlet</servlet-name>
		<servlet-class>cc.geekie.wanjuanwu.controller.BookDetailServlet</servlet-class>
		<load-on-startup>2</load-on-startup>

	</servlet>
	<servlet-mapping>
		<servlet-name>BookDetailServlet</servlet-name>
		<url-pattern>/BookDetailServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CheckCollectionInfoServlet</display-name>
		<servlet-name>CheckCollectionInfoServlet</servlet-name>
		<servlet-class>cc.geekie.wanjuanwu.controller.CheckCollectionInfoServlet</servlet-class>
		<load-on-startup>2</load-on-startup>

	</servlet>
	<servlet-mapping>
		<servlet-name>CheckCollectionInfoServlet</servlet-name>
		<url-pattern>/CheckCollectionInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>cc.geekie.wanjuanwu.controller.LoginServlet</servlet-class>
		<load-on-startup>2</load-on-startup>

	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
</web-app>